asn1crypto==0.24.0
cryptography==2.1.4
enum34==1.1.6
gyp==0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
mysql-connector-python==8.0.20
numpy==1.16.6
pandas==0.24.2
Pillow==6.2.2
protobuf==3.12.2
psutil==5.4.2
pycrypto==2.6.1
pygobject==3.26.1
PyMySQL==0.10.0
python-dateutil==2.8.1
pytz==2019.3
pyxdg==0.25
SecretStorage==2.3.1
six==1.15.0
vboxapi==1.0
xlrd==1.2.0
XlsxWriter==1.2.8
