{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    {% if names %}
    <ol>
        {% for name in names %}
            <li>{{ name }}</li>
        {% endfor %}
    </ol>
    {% endif %}
    {% if prices %}
    <ol>
        {% for price in prices %}
            <li>{{ price }}</li>
        {% endfor %}
    </ol>
    {% endif %}
    {% for o in order %}
        <ol>
            <li>{{ o.id }}</li>
            <li>{{ o.date_orderd }}</li>
            <li>{{ o.complete }}</li>
            <li>{{ o.transaction_id }}</li>
            <li>{{ o.customer_id }}</li>
        </ol>
    {% endfor %}
{% endblock content %}