<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <title>Businessland Ltd.</title>
    <!-- add icon link -->
        <link rel = "icon" href ="{% static 'images/businessland_logo.png' %}"
        type = "image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="text/javascript">
        var user = '{{ request.user }}'

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getToken('csrftoken');

        function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart was Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
    </script>
</head>
<body>

<div style="margin-top: 7px" id="header"  class="top-up">
        <div class="container">
            <div class="row-top">
                <div class="col-xm-12">
                    <ul class="top-1 nopad">
                        <li style="font-weight: bold" class="top"><a>Contact Us:</a></li>
                        <li class="top"><a style="color: lightseagreen">01730067504 </a>or</li>
                        <li class="top"><a style="color: lightseagreen">01730067506</a></li>
                        <li class="top">|<a style="color: lightseagreen"> info@businesslandbd.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a style="font-weight: bold" class="navbar-brand" href="{% url 'store' %}"><img style="height: 40px; width: 40px" src="{% static 'images/businessland_logo.png' %}" alt=""> Businessland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'store' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#services">Services <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#product">Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#gallery">Gallery <span class="sr-only">(current)</span></a>
            </li>
        </ul>

{#        <div class="form-inline my-2 my-lg-0">#}
{#            <a href="#" class="btn btn-warning">Login</a>#}
{##}
{#            <a href="{% url 'cart' %}">#}
{#                <img id="cart-icon" src="{% static 'images/cart.png' %}">#}
{#            </a>#}
{#            <p id="cart-total">{{ cartItems }}</p>#}
{##}
{#        </div>#}

    </div>
</nav>

{#<div class="container">#}
    {% block content %}

    {% endblock content %}
{#</div>#}

<footer class="footer-distributed">

			<div class="footer-left">

				<h3><img style="height: 40px; width: 40px" src="{% static 'images/businessland_logo.png' %}" alt=""> Business<span>land Ltd.</span></h3>
				<p class="footer-links">
					<a href="{% url 'store' %}" class="link-1">Home</a>

                    <a href="#services">Services</a>

					<a href="#product">Products</a>

					<a href="#gallery">Gallery</a>
				</p>

				<p class="footer-company-name">Businessland Ltd. © 2020</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p>BCS Computer City. SGR-23 (Ground Floor),<span>IDB Bhaban, E/8-A, Rokeya Sharani</span><span>Sher-E-Bangla Nagar, Dhaka-1207</span></p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>01730067504 or 01730067506</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:info@businesslandbd.com">info@businesslandbd.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
                    For Computer Sales, Service, Software Development & Networking Solution
				</p>

{#				<div class="footer-icons">#}
{##}
{#					<a href="#"><i class="fa fa-facebook"></i></a>#}
{#					<a href="#"><i class="fa fa-twitter"></i></a>#}
{#					<a href="#"><i class="fa fa-linkedin"></i></a>#}
{#					<a href="#"><i class="fa fa-github"></i></a>#}
{##}
{#				</div>#}

			</div>

		</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>