{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <img align="center" class="" src="{{ products.imageURL }}" alt="">

        </div>
        <div class="col-lg-6">

            <div class="box-element">
                <h5><strong>{{ products.name }}</strong></h5>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                    (injected humour and the like).</p>
                <button data-product="{{ products.id }}" data-action="add"
                        class="btn btn-outline-secondary add-btn update-cart">Add to Cart
                </button>
                <h4 style="display: inline-block; float: right">{{ products.price|floatformat:2 }} ৳</h4>
            </div>
        </div>
    </div>
{% endblock content %}